*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) { font-size: 50%; }

  @include respond(tab-port) { font-size: 48%; }
}

body {
  box-sizing: border-box;
}