.witcher__img {
  width: 50%;
  bottom: -3rem;
  left: 5%;
  position: absolute;
  z-index: 111;
  background: url(../images/sparks_front.svg), url(../images/sparks_back.svg);
  background-size: 100%;
  background-position: inherit;

  @include respond(tab-land) { left: 10%; }

  @include respond(tab-port) {
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: .5;
  }
}