.contain {
  overflow-y: hidden;
  height: 100vh;
  background: url('../images/bg.jpg') no-repeat center, url('../images/sparks_back.svg');
  background-size: cover;
  position: relative;

  animation-name: bgAnimation;
  animation-duration: .3s;
}

.witcher {
  width: 100%;
  height: 100%;
  background: url('../images/sparks_front.svg');
  background-size: contain;
  background-position: bottom;
  position: absolute;
  bottom: 0;
}

.bonus {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-size: 8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  position: absolute;
  right: 0;

  @include respond(tab-land) { right: 4%; }

  @include respond(tab-port) {
    width: 100%;
    right: 0;
    z-index: 2;
  }

  &__wrap {
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;

    span { display: block; }

    &--main {
      font-size: 20.8rem;

      animation-name: textTopAnimation;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;

      @include respond(phone) { font-size: 17rem; }

      @include respond(phone-min) { font-size: 15rem; }
    }

    &--sub {
      font-size: 6.7rem;

      @include respond(phone) { font-size: 5rem; }

      @include respond(phone-min) { font-size: 4rem; }
    }
  }

  &__code {
    max-width: 46rem;
    width: 100%;
    margin: 10% auto;
    display: flex;
    justify-content: space-around;
    border: 1px dashed rgba(255, 255, 255, 0.3);
    border-radius: 10rem;
    align-items: center;
    position: relative;

    @include respond(tab-port) { background: rgba(211, 211, 211, 0.4); }

    hr {
      width: 1px;
      height: 100%;
      position: absolute;
      right: 41%;
      background: rgba(255, 255, 255, 0.3);
      border: none;
    }

    &--name {
      font-size: 4rem;
      color: $color-witcher;
    }

    &--copy_btn {
      padding: 2.6rem 0;
      font-size: 1.8rem;
      position: relative;
      cursor: pointer;
      transition: .3s;

      &:before,
      &:after {
        content: '';
        width: 4rem;
        height: 100%;
        border-radius: 0 100px 100px 0;
        position: absolute;
        top: 0;
        right: -4rem;
        transition: .3s;
      }

      &:before {
        border-radius: 0;
        right: 10.8rem;
      }

      &:hover:before,
      &:hover:after { background: $color-witcher; }

      &:hover { background: $color-witcher; }
    }
  }

  &__play {
    max-width: 33.5rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 10rem;
    background: $color-witcher;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 3;

    &:before,
    &:after {
      content: '';
      width: 120%;
      height: 160%;
      position: absolute;
      bottom: 50%;
      left: 50%;
      transform: translate(-50%, 50%);
      border-radius: 10rem;
      z-index: -2;
      transition: .4s;
    }

    &:hover:before,
    &:hover:after {
      background: rgba(238, 49, 47, 0.15);
    }

    &:hover:after {
      width: 110%;
      height: 140%;
      background: rgba(238, 49, 47, 0.25);
      z-index: -1;
    }
  }
}

.footer {
  width: calc(100% - 5%);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  

  &__logo {
    width: 27rem;
    height: 6rem;
    background: url('../images/logo.png') no-repeat center;
  }

  &__terms {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.4rem;
    color: white;
  }
}