@keyframes bgAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes textTopAnimation {
  from {
    transform: translateY(-60rem);
  }
  to {
    transform: tranlateY(0);
  }
}